<template>
    <main class="grey lighten-4">
        <v-container v-if="state.projects">
            <h1 class="my-5">Projects</h1>

            <ProjectDialog />

            <h3 class="mb-3" style="font-weight: lighter">
                <em>
                    {{
                        state.projects.length > 0
                            ? "pick up where you left off"
                            : "no projects? start one off below"
                    }}
                </em>
            </h3>

            <v-card v-if="state.projects.length > 0" elevation="2" class="my-5">
                <v-row class="px-3 py-1 align-center">
                    <div>
                        <NuxtLink
                            :to="`/projects/${state.projects[0].id}`"
                            style="text-decoration: none"
                        >
                            <v-card-title>{{
                                state.projects[0].name
                            }}</v-card-title>
                            <v-card-subtitle>
                                <div>
                                    {{ state.projects[0].citation_style }}
                                    &middot;
                                    {{ state.projects[0].sources.length }}
                                    sources &middot;
                                    {{ state.getAnnotationsByProjectId(state.projects[0].id).length || 0 }}
                                    annotations
                                </div>
                            </v-card-subtitle>
                        </NuxtLink>
                    </div>
                    <v-btn
                        fab
                        small
                        elevation="2"
                        class="ml-auto mr-3"
                        color="primary"
                        @click="handleConfigure(state.projects[0].id)"
                    >
                        <v-icon dark> mdi-cog </v-icon>
                    </v-btn>
                    <v-btn
                        fab
                        small
                        elevation="2"
                        class="mr-3"
                        color="error"
                        @click="handleDelete(state.projects[0].id)"
                    >
                        <v-icon dark> mdi-delete </v-icon>
                    </v-btn>
                </v-row>
            </v-card>

            <h3
                v-if="state.projects.length > 1"
                class="mb-3"
                style="font-weight: lighter; margin-top: 2rem;"
            >
                <em>other projects</em>
            </h3>
            <template v-if="state.projects.length > 1">
                <v-card
                    v-for="project in state.projects.slice(1)"
                    :key="project.id"
                    elevation="2"
                    class="my-5"
                >
                    <v-row class="px-3 py-1 align-center">
                        <div>
                            <NuxtLink
                                :to="`/projects/${project.id}`"
                                style="text-decoration: none"
                            >
                                <v-card-title>{{ project.name }}</v-card-title>
                                <v-card-subtitle>
                                    <div>
                                        {{ project.citation_style }} &middot;
                                        {{ project.sources.length }} sources
                                        &middot;
                                        {{ project.annotations.length }}
                                        annotations
                                    </div>
                                </v-card-subtitle>
                            </NuxtLink>
                        </div>
                        <v-btn
                            fab
                            small
                            elevation="2"
                            class="ml-auto mr-3"
                            color="primary"
                            @click="handleConfigure(project.id)"
                        >
                            <v-icon dark> mdi-cog </v-icon>
                        </v-btn>
                        <v-btn
                            fab
                            small
                            elevation="2"
                            class="mr-3"
                            color="error"
                            @click="handleDelete(project.id)"
                        >
                            <v-icon dark> mdi-delete </v-icon>
                        </v-btn>
                    </v-row>
                </v-card>
            </template>

            <v-btn color="primary" class="my-2" @click="handleNewProject">
                Create Project
            </v-btn>
        </v-container>
    </main>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";

export default Vue.extend({
    middleware: ["isLoggedIn", "setParams", "fetchalini"],

    computed: {
        state() {
            return state;
        },
    },
    created() {
        if (!state.accessToken) {
            this.$router.push("/account/login");
        }
    },

    methods: {
        handleNewProject() {
            state.editingProject = {
                name: "",
                citation_style: "MLA 8",
            };

            state.projectDialog = true;
        },

        handleConfigure(project_id: number) {
            const index = state.projects.map((e) => e.id).indexOf(project_id);
            state.editingProject = { ...state.projects[index] };
            state.projectDialog = true;
        },

        handleDelete(project_id: number) {
            this.$axios.$delete(
                `${process.env.SERVER_URL}/project/${project_id}`
            );
            const index = state.projects.map((e) => e.id).indexOf(project_id);
            state.projects.splice(index, 1);
        },
    },
});
</script>

<style scoped>
main {
    justify-content: flex-start;
}

.line-height-thicc {
    line-height: 32px;
}

.v-card {
    transition: all 200ms;
    filter: brightness(100%);
    cursor: pointer;
}

.v-card:hover {
    filter: brightness(0.97);
}

header >>> .v-tab {
    color: #90caf9 !important;
}

header h1,
header >>> .v-tab.v-tab--active {
    color: white !important;
}

hr {
    border: none;
    border-top: 2px solid #363636;
}

main {
    display: flex;
    flex-direction: column;
    flex: 99;
    overflow-y: auto;
    padding: 1rem;
    margin-top: 0.5rem;
}

main .container {
    padding: 0;
}

.annotation {
    margin-bottom: 16px;
}

.annotation blockquote {
    border-left: gray 3px solid;
    padding-left: 8px;
    margin: 4px auto;
}
</style>

<style>
mark {
    background: rgb(255, 255, 110);
}

mark#activeHighlight {
    background: yellow;
}
</style>
