<template>
    <main>
        <v-form
            ref="form"
            v-model="valid"
            class="account-form"
            lazy-validation
            @submit.prevent="completeAuth"
        >
            <div class="account-header">
                <img class="logo" src="~/assets/logo.svg" />
                <h3>{{ isSignin ? "Sign In" : "Sign Up" }}</h3>
            </div>
            <v-alert v-if="error" type="error" class="error">
                {{ error }}
            </v-alert>
            <v-text-field
                v-model="username"
                :rules="usernameRules"
                label="Username"
                required
            ></v-text-field>

            <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Password"
                :counter="!isSignin"
                required
                @click:append="showPassword = !showPassword"
            ></v-text-field>

            <div class="account-footer">
                <v-btn
                    color="primary"
                    tag="nuxt-link"
                    :to="`/account/${isSignin ? 'signup' : 'login'}`"
                    text
                >
                    {{ isSignin ? "Create Account" : "Returning User" }}
                </v-btn>

                <v-btn :disabled="!valid" color="primary" type="submit">
                    {{ isSignin ? "Sign In" : "Sign Up" }}
                </v-btn>
            </div>
        </v-form>
    </main>
</template>

<script>
import state from "~/state";

export default {
    layout: "landing",

    async fetch() {
        if (state.isLoggedIn) this.$router.push("/projects");
    },

    data() {
        return {
            valid: true,
            showPassword: false,
            username: "",
            usernameRules: [(v) => !!v || "Username is required"],
            password: "",
            passwordRules: [
                (v) => !!v || "Password is required",
                (v) =>
                    v.length >= 8 || "Password must be at least 8 characters",
            ],
            error: "",
        };
    },
    computed: {
        isSignin() {
            return this.$route.params.type.toLowerCase() === "login";
        },
    },
    methods: {
        async completeAuth() {
            if (!this.$refs.form.validate()) return;
            this.error = "";

            if (this.isSignin) {
                try {
                    const loginResponse = await this.$axios.$post(
                        `${process.env.SERVER_URL}/login`,
                        {
                            name: this.username.trim(),
                            password: this.password,
                        }
                    );

                    this.$axios.setHeader(
                        "Authorization",
                        `Bearer ${loginResponse.auth_token}`
                    );

                    state.accessToken = loginResponse.auth_token;
                    state.refreshToken = loginResponse.refresh_token;

                    if (process.browser) {
                        localStorage.setItem("accessToken", state.accessToken);
                        localStorage.setItem("refreshToken", state.refreshToken);
                    }

                    window.clearInterval(state.refreshTimer);
                    state.refreshTimer = window.setInterval(async () => {
                        const refreshResponse = await this.$axios.$post(
                            `${process.env.SERVER_URL}/login/refresh`,
                            {},
                            {
                                Authorization: `Bearer ${state.refreshToken}`,
                            }
                        );

                        state.accessToken = refreshResponse.auth_token;
                        state.refreshToken = refreshResponse.refresh_token;

                        if (process.browser) {
                            localStorage.setItem("accessToken", state.accessToken);
                            localStorage.setItem("refreshToken", state.refreshToken);
                        }

                        this.$axios.setHeader(
                            "Authorization",
                            `Bearer ${refreshResponse.auth_token}`
                        );
                    }, 600000);
                    this.$router.push("/");
                } catch (e) {
                    const errors = {
                        401: "Username or password was incorrect.",
                        500: "There was an error with the server. Try again later.",
                    };
                    this.error = errors[e?.response?.status] || e;
                }
            } else {
                try {
                    await this.$axios.$post(
                        `${process.env.SERVER_URL}/signup`,
                        {
                            name: this.username.trim(),
                            password: this.password,
                        }
                    );

                    this.$router.push("/account/login");
                } catch (e) {
                    const errors = {
                        401: "Account already taken. Choose a different username.",
                        500: "There was an error with the server. Try again later.",
                    };
                    this.error = errors[e.response.status] || e;
                }
            }
        },
    },
};
</script>

<style scoped>
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-form {
    background: white;
    width: 450px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
.account-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.logo {
    height: 100px;
    padding: 20px 0;
}
.account-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.account-footer > .v-btn {
    width: 36%;
    text-transform: none;
}
.error {
    transition: all 200ms;
}
</style>
