<template>
    <main>
        <div v-if="state.currentSource" class="flex-grow-1 d-flex flex-column">
            <header class="sticky-section primary">
                <h1 class="section-small">{{ state.currentSource.title }}</h1>

                <v-tabs v-model="tab" class="tab-control">
                    <v-tabs-slider color="white" />
                    <v-tab> Document </v-tab>
                    <v-tab v-if="isTimelineEnabled"> Timeline </v-tab>
                    <v-tab v-if="areEntitiesEnabled"> Entities </v-tab>
                </v-tabs>
            </header>

            <v-container>
                <v-tabs-items v-model="tab" class="tab-view">
                    <v-tab-item class="section line-height-thicc">
                        <DocAnnotationViewer
                            v-if="doc && doc.length > 0"
                            :doc="doc"
                            :annotations="annotations"
                            @updateSelection="setSelection"
                        />

                        <AnnotationDialog
                            v-if="
                                state.annotationDialog.annotationIndex > -1 &&
                                annotations
                            "
                        />
                    </v-tab-item>

                    <v-tab-item v-if="isTimelineEnabled" class="section">
                        <Timeline :timeline="timeline" />
                    </v-tab-item>

                    <v-tab-item v-if="areEntitiesEnabled" class="section">
                        <DocEntityViewer
                            :doc="sanitizedDoc"
                            :entities="entities"
                        />
                    </v-tab-item>
                </v-tabs-items>
            </v-container>

            <DocInputDialog
                v-model="showDocInput"
                :title="state.currentSource.title"
                @saveDoc="updateSource"
            />
        </div>

        <v-container
            class="flex-grow-1 grey lighten-4 d-flex flex-column toolbar"
        >
            <aside class="sticky-section section grey lighten-3">
                <h2>Features</h2>
                <div class="section-small">
                    <v-switch
                        v-if="timeline && timeline.length > 0"
                        v-model="isTimelineEnabled"
                        class="toggle"
                        label="AI Timeline"
                    />
                    <v-switch
                        v-model="areEntitiesEnabled"
                        class="toggle"
                        label="Entity Identification"
                    />

                    <v-btn color="primary" @click="autoAnnotate">
                        Auto-annotate
                    </v-btn>
                    <v-btn color="warning" @click="annotateSelection">
                        Annotate selection
                    </v-btn>
                </div>
            </aside>

            <section class="section annotation-container">
                <h2>Annotations</h2>

                <div
                    v-if="annotations.length > 0"
                    class="section-small flex-grow-1"
                >
                    <Draggable v-model="annotations">
                        <AnnotationCard
                            v-for="(annotation, i) in annotations"
                            :key="i"
                            :annotation="annotation"
                            :doc="doc"
                            @goto="gotoAnnotation"
                            @edit="showNoteDialog"
                            @remove="removeAnnotation"
                        />
                    </Draggable>
                </div>

                <p v-else>
                    No annotations yet, it seems. Highlight some text and hit
                    "Annotate Selection" above!
                </p>
            </section>
        </v-container>
    </main>
</template>

<script lang="ts">
/* eslint-disable no-regex-spaces */

import Vue from "vue";
import Draggable from "vuedraggable";

import state from "~/state";
import { IAPIAnnotation, IEntity } from "~/typings";
const escapeHTML: (s: string) => string = require("escape-html");

export default Vue.extend({
    components: {
        Draggable,
    },
    middleware: ["isLoggedIn", "setParams", "fetchalini"],

    data() {
        return {
            tab: "Document",

            isTimelineEnabled: false,
            areEntitiesEnabled: false,

            doc: "",

            selection: {
                start_char: -1,
                end_char: -1,
                text: "",
            } as IAPIAnnotation,

            showDocInput: false,

            entities: [] as IEntity[],
        };
    },

    computed: {
        timeline(): IEntity[] {
            return this.entities
                .filter((e) => e.label === "DATE")
                .map((e) => ({
                    ...e,
                    date: new Date(e.text),
                }))
                .filter((e) => !isNaN(e.date.getFullYear()))
                .sort((a, b) => a.date.getTime() - b.date.getTime());
        },
        state() {
            return state;
        },
        sourceId() {
            return this.$route.params.sourceId;
        },
        annotations() {
            return state.currentSource?.annotations || [];
        },
        sanitizedDoc(): string {
            return escapeHTML(this.doc || "");
        },
    },
    watch: {
        annotations() {
            let i = 0;

            for (const a of this.annotations) {
                const payload = {
                    ...a,
                    source_id: state.params.sourceId,
                    project_id: state.params.projectId,
                };

                if (a?.id) {
                    this.$axios
                        .$post<IAPIAnnotation>(
                            `${process.env.SERVER_URL}/annotation/${a.id}`,
                            payload
                        )
                } else {
                    this.$axios.$post(
                        `${process.env.SERVER_URL}/annotation`,
                        payload
                    ).then((newA) => (this.annotations[i].id = newA.id));;
                }

                i++;
            }
        },
    },

    async mounted() {
        if (state.currentSource?.text) {
            this.doc = state.currentSource.text;

            this.entities = await this.$axios.$post<IEntity[]>(
                `${process.env.SERVER_URL}/entities`,
                {
                    doc: this.doc,
                }
            );
        } else {
            this.showDocInput = true;
        }
    },
    methods: {
        async updateSource(unformattedDoc: string) {
            const doc = unformattedDoc
                .replace(/\n/, " ")
                .replace(/\r/, " ")
                .replace(/\t/, " ")
                .trim();

            await this.$axios.$post(
                `${process.env.SERVER_URL}/source/${this.sourceId}`,
                {
                    text: doc,
                }
            );

            this.doc = doc;

            this.entities = await this.$axios.$post<IEntity[]>(
                `${process.env.SERVER_URL}/entities`,
                {
                    doc: this.doc,
                }
            );
        },
        setSelection(annotation: IAPIAnnotation) {
            this.selection = annotation;
            this.$forceUpdate();
        },
        annotateSelection() {
            if (this.selection.end_char - this.selection.start_char === 0) {
                return;
            }

            this.annotations.push({
                start_char: this.selection.start_char,
                end_char: this.selection.end_char,
                text: "",
            });
        },
        async autoAnnotate() {
            if (!this.doc) return;

            const tmp = this.doc.split(". ").map((s) => `${s}.`);
            const n = 5;

            const paragraphs = Array.apply(
                null,
                Array(Math.ceil(tmp.length / n))
            )
                .map((_x, i) => i)
                .map((_x, i) => tmp.slice(i * n, i * n + n))
                .map((arr) => arr.join(" "))
                .map((arr) => arr.replace(/\t/g, " "));

            for (const paragraph of paragraphs) {
                const autoAnnotationResponse = await this.$axios.$post<
                    IAPIAnnotation[]
                >(`${process.env.SERVER_URL}/autoannotation`, {
                    doc: paragraph,
                    sent_limit: 1,
                });

                const annotation = autoAnnotationResponse[0];
                let text = annotation.text.trim();

                const hasPeriod = text.endsWith(".");
                while (text.endsWith(".")) {
                    text = text.substring(0, text.length - 1);
                }

                if (hasPeriod) {
                    text += ".";
                }

                const start = this.doc.indexOf(text);

                if (text.length < 3 || start === -1) return;

                this.annotations.push({
                    start_char: start,
                    end_char: start + text.length,
                    text: "",
                });
            }
        },
        gotoAnnotation({ start_char, end_char }: IAPIAnnotation) {
            const highlight: HTMLElement | null = document.querySelector(
                `mark[data-annotation="${start_char}-${end_char}"]`
            );

            highlight?.scrollIntoView();
            highlight?.classList.add("active");

            setTimeout(() => highlight?.classList.remove("active"), 1500);
        },
        removeAnnotation(annotation: IAPIAnnotation) {
            const index = this.annotations.findIndex(
                (a) =>
                    a.start_char === annotation.start_char &&
                    a.end_char === annotation.end_char
            );

            if (index !== -1) {
                this.annotations.splice(index, 1);
            }
        },
        showNoteDialog(annotation: IAPIAnnotation) {
            const index = this.annotations.findIndex(
                (a) =>
                    a.start_char === annotation.start_char &&
                    a.end_char === annotation.end_char
            );

            if (index !== -1) {
                state.annotationDialog.annotationIndex = index;
                state.annotationDialog.show = true;
            }
        },
    },
});
</script>

<style scoped>
.line-height-thicc {
    line-height: 32px;
}

header >>> .v-tab {
    color: #90caf9 !important;
}

header h1,
header >>> .v-tab.v-tab--active {
    color: white !important;
}

.toolbar {
    max-width: 600px;
}

hr {
    border: none;
    border-top: 2px solid #363636;
}

main {
    display: flex;
}

main .container {
    padding: 0;
}

.annotation-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 0.5rem;
    max-height: calc(100vh - 310px);
}

.toggle {
    margin-top: 0;
}

.toggle >>> .v-input__slot {
    margin-bottom: 0;
}

.tab-control {
    flex: none;
}

.tab-control >>> .v-tabs-bar {
    background: transparent;
}

.tab-view div {
    max-height: 100%;
}

.tab-view {
    margin-top: 0.5rem;
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 218px);
}
</style>
