<template>
    <v-card class="annotation section-small" :data-id="annotation && annotation.id">
        <blockquote>
            {{
                doc.substring(annotation.start_char, annotation.end_char).trim()
            }}
        </blockquote>

        <br />

        <v-btn color="success" @click="goto">Goto</v-btn>
        <v-btn color="primary" @click="edit">Edit</v-btn>
        <v-btn color="error" @click="remove">Remove</v-btn>
    </v-card>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import { IAPIAnnotation } from "~/typings";
export default Vue.extend({
    props: {
        annotation: {
            type: Object as PropType<IAPIAnnotation>,
            required: true,
        },
        doc: {
            type: String,
            required: true,
        },
    },
    methods: {
        goto() {
            this.$emit("goto", this.annotation);
        },
        remove() {
            this.$emit("remove", this.annotation);
        },
        edit() {
            this.$emit("edit", this.annotation);
        },
    },
});
</script>

<style scoped>
.annotation {
    margin-bottom: 16px;
}

.annotation blockquote {
    border-left: gray 3px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 8px;
    margin: 4px auto;
}
</style>
