<template>
    <div class="text-center">
        <v-dialog v-model="state.annotationDialog.show" persistent width="500">
            <v-card>
                <v-card-title class="grey lighten-2">
                    <h3>Editing Annotation</h3>
                </v-card-title>

                <br />

                <v-card-text class="textarea-container">
                    <v-textarea
                        v-model.trim="annotationText"
                        outlined
                        name="input-7-4"
                        label="What stands out to you about this annotation?"
                    />
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="success" text @click="close(true)">
                        Save
                    </v-btn>
                    <v-btn color="error" text @click="close(false)">
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";
import { IAPIAnnotation } from "~/typings";

export default Vue.extend({
    data() {
        return {
            annotationText: "",
        };
    },
    computed: {
        state() {
            return state;
        },
        isDisplayed() {
            return state.annotationDialog.show;
        },
        annotations(): IAPIAnnotation[] {
            return state.currentSource?.annotations || [];
        },
        annotation(): IAPIAnnotation {
            return this.annotations[state.annotationDialog.annotationIndex];
        },
    },
    watch: {
        isDisplayed() {
            this.annotationText = this.isDisplayed ? this.annotation.text : "";
        },
    },
    mounted() {
        this.annotationText =
            this.annotations[state.annotationDialog.annotationIndex].text;
    },
    methods: {
        close(save: boolean) {
            if (save) {
                this.annotation.text = this.annotationText;
            }

            state.annotationDialog.show = false;
        },
    },
});
</script>

<style scoped>
.textarea-container >>> .v-text-field__details {
    display: none;
}
</style>
