<template>
    <v-row v-if="value.type === 'Person'">
        <v-text-field
            v-model="value.first"
            label="First Name"
            hide-details="auto"
            style="margin: 1rem 0.5rem 1rem 1rem"
        />
        <v-text-field
            v-model="value.last"
            label="Last Name"
            hide-details="auto"
            style="margin: 1rem 1rem 1rem 0.5rem"
        />
    </v-row>
    <v-text-field
        v-else
        v-model="value.full"
        label="Organization Name"
        hide-details="auto"
        style="margin: 1rem 0 1rem 0"
    />
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import state from "~/state";
import { IAPIAuthor } from "~/typings";

export default Vue.extend({
    props: {
        value: {
            type: Object as PropType<IAPIAuthor>,
            required: true,
        },
    },

    data() {
        return {
        };
    },

    computed: {
        state() {
            return state;
        },
    },

    watch: {
        value(newValue: IAPIAuthor) {
            const author = {
                type: "Person",
                last: "",
                first: "",
                full: "",

                ...newValue,
            };

            if (!this.isEqual(author, newValue)) {
                this.$emit("input", author);
            }
        },
    },

    methods: {
        isEqual(...objects: object[]) {
            return objects.every(
                (obj) => JSON.stringify(obj) === JSON.stringify(objects[0])
            );
        },
    },
});
</script>
