<template>
    <article @mouseup="onTextSelect">
        <AnnotationHighlight
            :text="doc"
            :annotations="mappedAnnotations"
            :highlight-component="Highlight"
        />
    </article>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
// @ts-ignore
import { AnnotationHighlight } from "vue-annotation-highlight";
import Highlight from "./Highlight.vue";
import { IAPIAnnotation } from "~/typings";

export default Vue.extend({
    components: {
        AnnotationHighlight,
    },
    props: {
        doc: {
            type: String,
            required: true,
        },
        annotations: {
            type: Array as PropType<IAPIAnnotation[]>,
            required: true,
        },
    },
    computed: {
        mappedAnnotations() {
            return this.annotations.map(({ start_char, end_char }) => ({
                begin: start_char,
                length: end_char - start_char,
            }));
        },
        Highlight() {
            return Highlight;
        },
    },
    methods: {
        onTextSelect() {
            const selection = document.getSelection();
            if (!selection) return;

            const start_char = this.doc.indexOf(selection.toString());

            if (start_char === -1) return;

            this.$emit("updateSelection", {
                start_char,
                end_char: start_char + selection.toString().length,
            });
        },
    },
});
</script>
