<template>
    <div>
        <v-select
            v-model="filter"
            :items="[
                'People & groups',
                'Dates & places',
                'Numeric values',
                'Full text',
            ]"
            label="Filter entities"
            outlined
        />

        <!-- eslint-disable-next-line vue/no-v-html -->
        <article class="entity-container" @click="entityClick" v-html="markup" />

        <v-dialog v-model="showInfoModel" width="400">
            <section class="section-small white text-center">
                <p>
                    Our AI detected this to be a
                    <b>{{ entityType }}</b>
                </p>

                <v-btn small color="success" @click="showInfoModel = false">
                    alright
                </v-btn>
            </section>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import { EntityLabelT, IEntity } from "~/typings";
export default Vue.extend({
    props: {
        doc: {
            type: String,
            required: true,
        },
        entities: {
            type: Array as PropType<IEntity[]>,
            required: true,
        },
    },
    data() {
        return {
            showInfoModel: false,
            entityType: "",

            entitytoFriendlyNameMap: {
                ORG: "organization or group",
                PERSON: "person or name of significance",
                DATE: "significant date",
                GPE: "politically-defined location",
                MONEY: "amount of money or currency",
                CARDINAL: "numeric value",
                PERCENT: "numeric value, represented as a percentage",
            } as Record<EntityLabelT, string>,

            filter: "Full text",
            userFilterMap: {
                "People & groups": ["ORG", "PERSON"],
                "Dates & places": ["DATE", "GPE"],
                "Numeric values": ["PERCENT", "CARDINAL", "QUANTITY"],
                "Full text": [],
            } as Record<string, EntityLabelT[]>,
        };
    },
    computed: {
        filteredEntities(): IEntity[] {
            return this.entities
                .filter((e) =>
                    e.label === "DATE" ? this.validateDateEntity(e) : true
                )
                .filter((e) =>
                    e.label === "MONEY" ? this.validateMoneyEntity(e) : true
                )
                .filter((e) => !["TIME", "LOC", "ORDINAL", "NORP"].includes(e.label));
        },
        allowedLabels(): EntityLabelT[] {
            return this.userFilterMap[this.filter];
        },
        userFilteredEntities(): IEntity[] {
            return this.entities.filter((e) =>
                this.allowedLabels.includes(e.label)
            );
        },
        markup(): string {
            if (this.filter !== "Full text") {
                return this.userFilteredEntities
                    .map(
                        ({ sent, text, label }) => /* html */ `
                            <span class="entity-container">
                                ${sent.replace(
                                    text,
                                    /* html */ `
                                    <mark 
                                        data-label="${label}"
                                        class="entity label-${label.toLowerCase()}">
                                        ${text}
                                    </mark>`
                                )}
                            </span>`
                    )
                    .join("<hr>");
            } else {
                let str = this.doc;

                for (const entity of this.filteredEntities) {
                    str = str.replace(
                        entity.text.trim(),
                        /* html */ `<mark
                            data-label="${entity.label}"
                            class="entity label-${entity.label.toLowerCase()}">
                            ${entity.text.trim()}
                        </mark>`
                    );
                }

                return str;
            }
        },
    },
    methods: {
        validateDateEntity({ text }: IEntity) {
            return !isNaN(new Date(text).getFullYear());
        },
        validateMoneyEntity({ text }: IEntity) {
            return !isNaN(Number(text.replace(/,/, "")));
        },
        entityClick({ target }: { target: EventTarget }) {
            const el = target as HTMLElement;

            if (
                el.classList.contains("entity") &&
                (el?.parentNode as HTMLElement | undefined)?.classList.contains(
                    "entity-container"
                )
            ) {
                this.showInfoModel = true;
                this.entityType =
                    this.entitytoFriendlyNameMap[
                        el.dataset.label as EntityLabelT
                    ];
            } else if (el.classList.contains("entity")) {
                this.entityClick({ target: el.parentNode as EventTarget });
            }
        },
    },
});
</script>

<style scoped>
article {
    line-height: 32px;
}
</style>

<style>
.entity-container > .entity {
    padding: 0 10px;
    display: inline-block;
    margin: 4px 0;
    border-radius: 25px;
    cursor: help;
}

.entity-container {
    display: block;
    margin: 8px 0;
}

.entity-container hr {
    border: none;
    border-top: 1px solid #363636;    
}

.entity > .entity {
    background: none !important;
}

.entity.label-money {
    background: #4db6ac;
}

.entity.label-person {
    background: #f48fb1;
}

.entity.label-org {
    background: #4dd0e1;
}

.entity.label-date {
    background: #aed581;
}

.entity.label-cardinal,
.entity.label-percent {
    background: #fdd835;
}

.entity.label-loc {
    background: #ffa726;
}
</style>
