<template>
    <v-dialog v-model="isDisplayed" persistent>
        <section class="white">
            <header class="section-small grey lighten-3">
                <h1>Copy in your source, "{{ title || "src" }}".</h1>

                <v-btn color="success" x-large @click="saveDoc">
                    Finished!
                </v-btn>
            </header>

            <textarea
                v-model.trim="doc"
                class="doc-entry-field"
                style="width: 100%"
                placeholder="Paste your document here..."
            ></textarea>
        </section>
    </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    props: {
        value: {
            type: Boolean,
            required: true,
        },
        title: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            doc: "",
        };
    },
    computed: {
        isDisplayed: {
            get(): boolean {
                return this.value;
            },
            set(newValue: boolean) {
                this.$emit("input", newValue);
            },
        },
    },
    methods: {
        saveDoc() {
            if (this.doc.length > 5) {
                this.$emit("saveDoc", this.doc);
                this.isDisplayed = false;
                this.doc = "";
            }
        },
    },
});
</script>

<style scoped>
* >>> .v-dialog {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.doc-entry-field {
    padding: 28px;
    font-size: 18px;
    flex: 1;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    margin-right: auto;
    font-weight: lighter;
}

header {
    display: flex;
    align-items: center;
}
</style>
