<template>
    <header
        class="d-flex flex-row is-justify-content-center is-align-items-center"
    >
        <img src="~/assets/icon.svg" width="42px" height="42px" />
        <v-tabs class="tab-control" :value="tabFromRoute">
            <v-tab tag="nuxt-link"
                   to="/projects">
                        <v-icon 
                            v-if="projectId !== -1"
                            class="mr-3">mdi-arrow-left</v-icon>
                        Projects</v-tab>
            <v-tab
                v-if="projectId !== -1"
                tag="nuxt-link"
                :to="`/projects/${projectId}`"
                :style="`pointer-events: ${projectId === -1 ? 'none' : 'all'}`"
            >
                Sources
            </v-tab>
            <v-tab
                v-if="projectId !== -1"
                tag="nuxt-link"
                :to="`/projects/${projectId}/paper`"
                :style="`pointer-events: ${projectId === -1 ? 'none' : 'all'}`"
            >
                Paper
            </v-tab>
        </v-tabs>
        <v-btn class="mt-2" color="error" @click="logout">Logout</v-btn>
    </header>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";

export default Vue.extend({
    computed: {
        tabFromRoute() {
            const route = this.$route.path;

            if (route.includes("/paper")) return "Paper";
            else if (route.includes("/sources")) return "Sources";
            else if (route.includes("/annotations")) return "Annotations";
            else return "Projects";
        },
        projectId() {
            return state.params.projectId;
        },
    },

    methods: {
        logout () {
            state.accessToken = "";
            state.refreshToken = "";

            if (process.browser) {
                localStorage.setItem("accessToken", "");
                localStorage.setItem("refreshToken", "");
                this.$router.push("/");
            }
        }
    }
});
</script>

<style scoped>
.line-height-thicc {
    line-height: 32px;
}

hr {
    border: none;
    border-top: 2px solid #363636;
}

header {
    z-index: 50;
    box-shadow: 0px 3px 4px -3px #00000088;
    padding: 0.5rem;
    background: white;
}

header >>> .v-slide-group__content {
    justify-content: center;
    text-align: center;
}

.v-tabs {
    flex: 1;
    margin-right: calc(50px);
}

.v-tab {
    width: 180px;
    color: #1976D2 !important;
}

img {
    margin-right: 59px;
}
</style>

