<template>
    <mark
        :data-annotation="`${annotation.begin}-${end}`"
        @click="showAnnotationDialog"
    >
        <slot></slot>
    </mark>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";
import state from "~/state";

export default Vue.extend({
    props: {
        annotation: {
            type: Object as PropType<{ begin: number; length: number }>,
            required: true,
        },
    },
    computed: {
        end(): number {
            return this.annotation.begin + this.annotation.length;
        },
        annotations() {
            return state.currentSource?.annotations || [];
        },
    },
    methods: {
        showAnnotationDialog() {
            const annotationIndex = this.annotations.findIndex(
                (a) =>
                    a.start_char === this.annotation.begin &&
                    a.end_char === this.end
            );

            if (annotationIndex === -1) return;

            state.annotationDialog = {
                show: true,
                annotationIndex,
            };
        },
    },
});
</script>

<style scoped>
mark {
    cursor: pointer;
    background: #ffdf52;
    transition: 0.25s ease-out background;
}

mark:hover {
    background: #f0c60d;
}

mark.active {
    background: #69f0ae;
}

mark.active:hover {
    background: #1dd87e;
}
</style>
