<template>
    <v-card v-if="state.editingSource.title" class="my-5">
        <v-row class="mx-3" style="flex-wrap: nowrap; align-items: center">
            <img :src="thumbnail" width="48px" height="64px" />
            <div>
                <v-card-title>{{ state.editingSource.title }}</v-card-title>
                <v-card-subtitle>
                    {{ authors }},&nbsp;
                    {{ state.editingSource.date || "Unknown Date" }} &middot;&nbsp;
                    {{ state.editingSource.publisher || "Unknown Publisher" }}
                </v-card-subtitle>
            </div>
        </v-row>
    </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";
import { ICiteAuthor } from "~/typings";

export default Vue.extend({
    data() {
        return {};
    },

    computed: {
        state() {
            return state;
        },

        thumbnail() {
            if (state.editingSource.thumbnail) {
                return state.editingSource.thumbnail;
            } else {
                return "https://bibify.org/picture.jpeg";
            }
        },

        authors(): string {
            const authors_raw = state.editingSource.authors || [];
            if (authors_raw.length === 0) {
                return "Unknown Author(s)";
            }
            if (authors_raw.length === 1) {
                return this.authorToText(authors_raw[0]);
            } else if (authors_raw.length === 2) {
                return `${this.authorToText(
                    authors_raw[0]
                )} & ${this.authorToText(authors_raw[1])}`;
            } else {
                return `${this.authorToText(authors_raw[0])} et al.`;
            }
        },
    },
    methods: {
        authorToText(author: ICiteAuthor | undefined) {
            if (author?.type === "Person") {
                return `${author.first} ${author.last}`;
            } else if (author?.type) {
                return `${author.full}`;
            } else {
                return "";
            }
        },
    },
});
</script>
