<template>
    <v-btn class="menu-item" :title="title" :value="value" text @click="action">
        <v-icon :dense="denseIcon">{{ icon }}</v-icon>
    </v-btn>
</template>

<script>
export default {
    props: {
        icon: {
            type: String,
            required: true,
        },
        title: {
            type: String,
            required: true,
        },
        action: {
            type: Function,
            required: true,
        },
        value: {
            type: String,
            default: null,
        },
        denseIcon: {
            type: Boolean,
            default: false,
        },
        last: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style scoped>
.menu-item {
    color: #4d4d4d;
    background-color: #eee;
    border-radius: 0;
    transition: color 0.3s, background-color 0.3s;
}
</style>
