<template>
  <main>
    <div class="toolbar flex-column">
        <template
            v-for="(item, index) in btnGroups">
            <v-btn-toggle
                :key="index"
                v-model="vModel"
                class="flex-column"
                tile
                multiple
                borderless>
                <paper-menu-item
                    v-for="(subItem, subIndex) in item.items"
                    v-bind="subItem"
                    :key="`${index}-${subIndex}`"
                    :class="{'rounded-t-xl': subIndex == 0,
                             'rounded-b-xl': subIndex == item.items.length - 1}"
                    />
            </v-btn-toggle>
            <v-divider
                v-if="!item.last"
                :key="`${index}-divider`"
                class="menu-divider"
            ></v-divider>
        </template>
    </div>
  </main>
</template>

<script>
import PaperMenuItem from "./PaperMenuItem.vue";

export default {
    components: {
        PaperMenuItem,
    },

    props: {
        editor: {
            type: Object,
            required: true,
        },
    },

    data() {
        return {
            btnGroups: [
                {
                    items: [
                        {
                            icon: "mdi-format-bold",
                            title: "Bold",
                            action: () =>
                                this.editor.chain().focus().toggleBold().run(),
                            value: "bold",
                        },
                        {
                            icon: "mdi-format-italic",
                            title: "Italic",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleItalic()
                                    .run(),
                            value: "italic",
                        },
                        {
                            icon: "mdi-format-strikethrough-variant",
                            title: "Strike",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleStrike()
                                    .run(),
                            value: "strike",
                            denseIcon: true,
                        },
                        {
                            icon: "mdi-code-braces",
                            title: "Code",
                            action: () =>
                                this.editor.chain().focus().toggleCode().run(),
                            value: "code",
                        },
                        {
                            icon: "mdi-marker",
                            title: "Highlight",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleHighlight()
                                    .run(),
                            value: "highlight",
                        },
                    ],
                },
                {
                    items: [
                        {
                            icon: "mdi-format-header-1",
                            title: "Heading 1",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleHeading({ level: 1 })
                                    .run(),
                            value: "heading-1",
                        },
                        {
                            icon: "mdi-format-header-2",
                            title: "Heading 2",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleHeading({ level: 2 })
                                    .run(),
                            value: "heading-2",
                        },
                        {
                            icon: "mdi-format-paragraph",
                            title: "Paragraph",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .setParagraph()
                                    .run(),
                            value: "paragraph",
                        },
                        {
                            icon: "mdi-format-list-bulleted",
                            title: "Bullet List",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleBulletList()
                                    .run(),
                            value: "bullet-list",
                        },
                        {
                            icon: "mdi-format-list-numbered",
                            title: "Ordered List",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleOrderedList()
                                    .run(),
                            value: "ordered-list",
                        },
                        {
                            icon: "mdi-code-json",
                            title: "Code Block",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleCodeBlock()
                                    .run(),
                            value: "code-block",
                        },
                    ],
                },
                {
                    items: [
                        {
                            icon: "mdi-format-quote-close",
                            title: "Blockquote",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .toggleBlockquote()
                                    .run(),
                            value: "blockquote",
                        },
                        {
                            icon: "mdi-drag-horizontal-variant",
                            title: "Horizontal Rule",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .setHorizontalRule()
                                    .run(),
                        },
                    ],
                },
                {
                    items: [
                        {
                            icon: "mdi-wrap",
                            title: "Hard Break",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .setHardBreak()
                                    .run(),
                        },
                        {
                            icon: "mdi-format-clear",
                            title: "Clear Format",
                            action: () =>
                                this.editor
                                    .chain()
                                    .focus()
                                    .clearNodes()
                                    .unsetAllMarks()
                                    .run(),
                        },
                    ],
                },
                {
                    items: [
                        {
                            icon: "mdi-undo",
                            title: "Undo",
                            action: () =>
                                this.editor.chain().focus().undo().run(),
                        },
                        {
                            icon: "mdi-redo",
                            title: "Redo",
                            action: () =>
                                this.editor.chain().focus().redo().run(),
                        },
                    ],
                    last: true,
                },
            ],
        };
    },
    computed: {
        vModel() {
            return [
                this.editor.isActive("bold") ? "bold" : null,
                this.editor.isActive("italic") ? "italic" : null,
                this.editor.isActive("strike") ? "strike" : null,
                this.editor.isActive("code") ? "code" : null,
                this.editor.isActive("highlight") ? "highlight" : null,
                this.editor.isActive("heading", { level: 1 })
                    ? "heading-1"
                    : null,
                this.editor.isActive("heading", { level: 2 })
                    ? "heading-2"
                    : null,
                this.editor.isActive("heading", { level: 3 })
                    ? "heading-3"
                    : null,
                this.editor.isActive("heading", { level: 4 })
                    ? "heading-4"
                    : null,
                this.editor.isActive("heading", { level: 5 })
                    ? "heading-5"
                    : null,
                this.editor.isActive("heading", { level: 6 })
                    ? "heading-6"
                    : null,
                this.editor.isActive("paragraph") ? "paragraph" : null,
                this.editor.isActive("bulletList") ? "bullet-list" : null,
                this.editor.isActive("orderedList") ? "ordered-list" : null,
                this.editor.isActive("codeBlock") ? "code-block" : null,
                this.editor.isActive("blockquote") ? "blockquote" : null,
            ];
        },
    },
};
</script>

<style>
.toolbar {
    padding: 28px 0;
}
</style>

<style scoped>
.menu-divider {
    border: 0;
    border-top: 2px solid #DDD;
    margin: 0.75rem 0;
}
</style>
