<template>
    <v-dialog v-model="state.projectDialog" scrollable max-width="300px">
        <v-card v-if="state.editingProject">
            <v-card-title>
                {{ state.editingProject.id ? "Edit Project" : "New Project" }}
            </v-card-title>
            <v-card-text>
                <v-text-field
                    v-model="state.editingProject.name"
                    label="Project Name"
                    :rules="rules"
                    hide-details="auto"
                    style="margin: 1rem 0"
                />
                <v-select
                    v-model="state.editingProject.citation_style"
                    :items="items"
                    label="Citation Style"
                />
            </v-card-text>
            <v-divider />
            <v-card-actions>
                <v-btn
                    color="darken-1"
                    text
                    class="ml-auto"
                    @click.stop="state.projectDialog = false"
                    @click="state.projectDialog = false"
                >
                    Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="handleSave">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import Vue from "vue";
import state from "~/state";
export default Vue.extend({
    data() {
        return {
            items: ["MLA 8", "MLA 7", "APA 6", "Chicago", "Harvard"],
            rules: [(v) => !!v || "Project name is required"],
        };
    },

    computed: {
        state() {
            return state;
        },
    },

    methods: {
        async handleSave() {
            let url = "";
            if (state.editingProject.id) {
                url = `${process.env.SERVER_URL}/project/${state.editingProject.id}`;
            } else {
                url = `${process.env.SERVER_URL}/project`;
            }

            const data = await this.$axios.$post(url, {
                name: state.editingProject.name,
                citation_style: state.editingProject.citation_style,
            });

            if (state.editingProject.id) {
                const index = state.projects.map((e) => e.id).indexOf(data.id);
                state.editingProject = data;
                state.projects[index] = data;
                this.$parent.$forceUpdate();
            } else {
                state.projects.push(data);
            }

            state.projectDialog = false;
        },
    },
});
</script>
