<template>
    <v-dialog v-model="state.sourceDialog" scrollable max-width="500px">
        <v-card>
            <v-card-title>
                {{ state.editingSource.id ? "Edit Source" : "New Source" }}
            </v-card-title>
            <v-card-text>
                <v-text-field
                    v-model="autocite"
                    v-debounce:400ms="handleURLKey"
                    label="Enter URL/Book"
                    prepend-icon="mdi-magnify"
                    hide-details="auto"
                    style="margin: 1rem 0"
                    type="text"
                    :hint="sourceHint"
                    @input="typingHandle"
                />
                <InfoCard />
                <v-expansion-panels accordion elevation="2">
                    <v-expansion-panel>
                        <v-expansion-panel-header>
                            Enter Fields Manually
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-text-field
                                v-for="(key, val) in citationMap"
                                :key="key"
                                v-model="state.editingSource[val]"
                                :label="key"
                                hide-details="auto"
                                style="margin: 1rem 0"
                            />
                            <AuthorField
                                v-for="(author, i) in state.editingSource
                                    .authors"
                                :key="i"
                                v-model="state.editingSource.authors[i]"
                            />
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
                <!-- eslint-disable-next-line vue/no-v-html -->
                <div class="mt-5" v-html="state.editingSource.citation"></div>
            </v-card-text>
            <v-divider />
            <v-card-actions>
                <v-btn
                    color="darken-1"
                    text
                    class="ml-auto"
                    @click="state.sourceDialog = false"
                >
                    Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="handleSave">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import qs from "qs";
import vueDebounce from "vue-debounce";
import state from "~/state";
import processAuthors from "~/assets/processAuthors";
import { IAPISource, ICitationPayload } from "~/typings";

Vue.use(vueDebounce)

export default Vue.extend({
    data() {
        return {
            items: ["MLA 8", "MLA 7", "APA 6", "Chicago", "Harvard"],
            rules: [(v: string) => !!v || "Project name is required"],
            citationMap: {
                title: "Title",
                url: "URL",
                access_date: "Access Date",
                publisher: "Publisher",
                publisher_location: "Publisher Location",
                date: "Published Date",
            },
            autocite: "",
            sourceHint: "Start typing a book title or paste in a URL"
        };
    },

    computed: {
        state() {
            return state;
        },
    },

    methods: {
        async handleSave() {
            if (!state.currentProject) return;

            let url = "";
            if (state.editingSource?.id) {
                url = `${process.env.SERVER_URL}/source/${state.editingSource.id}`;
            } else {
                url = `${process.env.SERVER_URL}/source`;
            }

            const data = await this.$axios.$post(url, {
                project_id: state.currentProject?.id,
                ...state.editingSource,
                categories: undefined,
                autocite: undefined,
                authors: undefined,
                thumbnail: undefined,
                pages: undefined,
                date: undefined,
                "container-title": undefined,
                image: undefined,
                description: undefined,
                publish_date: state.editingSource.date,
            });

            if (state.editingSource.id) {
                const index = state.currentProject.sources.map((e) => e.id).indexOf(data.id);
                state.editingSource = data;
                state.currentProject.sources[index] = data;
            } else {
                state.currentProject.sources.push(data);
            }

            const main = state.editingSource as unknown as IAPISource;

            for (const author of main.authors || []) {
                if (main.id) {
                    url = `${process.env.SERVER_URL}/author/${author.id}`;
                } else {
                    url = `${process.env.SERVER_URL}/author`;
                }

                const authorData = await this.$axios.$post(url, {
                    ...author,
                    user_id: undefined,
                    source_id: data.id,
                });

                const index = main.authors
                    ?.map((e) => e.id)
                    .indexOf(authorData.id);

                if (state.editingSource.authors && index)
                    state.editingSource.authors[index] = authorData;
            }

            this.$parent.$forceUpdate();
            state.sourceDialog = false;
        },

        async cite() {
            if (!state.currentProject) return;

            // Make the request
            const citeStyle = state.currentProject.citation_style;

            const citationStyles = await this.$axios.$get<
                { citationFile: string }[]
            >(`${process.env.BIBIFY_URL}/styles/search?q=${citeStyle}`);

            const citationFile =
                citationStyles.length > 0 ? citationStyles[0].citationFile : "";

            const citeObject = {
                style: citationFile,
                type: state.editingSource.source_type,
                id: Math.random().toString(36),
                title: state.editingSource.title,
                accessDate: state.editingSource.access_date,
                authors: state.editingSource.authors,
                publisher: state.editingSource.publisher,
                "publisher-place": state.editingSource.publisher_location,
                date: state.editingSource.date,
            };

            const citationResults = await this.$axios.$get<string[]>(
                `${process.env.BIBIFY_URL}/cite?` +
                    qs.stringify(citeObject, { format: "RFC3986" })
            );

            const main = state.editingSource as unknown as IAPISource;
            main.citation = citationResults[0];
            this.$forceUpdate();
        },

        async handleURLKey(e: KeyboardEvent) {
            console.log(e.key);
            let type = "books";

            if (this.autocite === '') {
                return;
            }

            if (
                this.autocite.startsWith("http://") ||
                this.autocite.startsWith("https://")
            ) {
                type = "website";
            }

            if (type === "website") {
                this.sourceHint = "Searching for website URL..."
                const websiteData = await this.$axios.$get(
                    `${process.env.BIBIFY_URL}/${type}?url=${this.autocite}`
                );

                this.sourceHint = "Start typing a book title or paste in a URL"

                state.editingSource = {
                    ...state.editingSource,
                    title: websiteData.title,
                    authors: processAuthors(websiteData.authors),
                    access_date: new Date().toISOString().slice(0, 10),
                    source_type: "website",
                    url: websiteData.URL,

                    publisher: websiteData.publisher,
                    publisher_location: websiteData.publisher_location,
                    date: websiteData.date,
                    thumbnail: websiteData.thumbnail,
                };
            } else {
                this.sourceHint = "Searching for book title..."
                const otherData: any[] = await this.$axios.$get(
                    `${process.env.BIBIFY_URL}/${type}?q=${this.autocite}`
                );

                this.sourceHint = "Start typing a book title or paste in a URL"
                
                const citationPayload: ICitationPayload = otherData.map(
                    (el) => ({
                        title: el.title,
                        authors: processAuthors(el.authors),
                        autocite: this.autocite,
                        access_date: new Date().toISOString().slice(0, 10),
                        source_type: "book" as "book",
                        publisher: el.publisher,

                        publisher_location: el.publisher_location,
                        date: el.date,
                        thumbnail: el.thumbnail,
                    })
                )[0];

                state.editingSource = {
                    ...state.editingSource,
                    ...citationPayload,
                };
            }

            await this.cite();
        },
        typingHandle() {
            this.sourceHint = "Waiting for you to stop typing..."
        }
    },
});
</script>
