<template>
    <v-timeline>
        <v-timeline-item
            v-for="(t, i) in timeline"
            :key="i"
            :class="`${i % 2 === 1 ? 'text-right' : ''}`"
        >
            <h1>{{ t.date.getFullYear() }}</h1>
            {{ t.sent.trim() }}
        </v-timeline-item>
    </v-timeline>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    props: {
        timeline: {
            type: Array,
            required: true,
        },
    },
});
</script>
