* {
    scroll-behavior: smooth;
}

.section {
    padding: 28px;
}

.sticky-section {
    z-index: 1;
    padding: 28px;
    padding-bottom: 0px;
    box-shadow: 0px 3px 4px -3px #00000088;
}

.section-small {
    padding: 14px;
}

* {
    font-family: "Red Hat Display", sans-serif !important;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #607D8B;
    border-radius: 10px;
}

.hover-scroll-bar::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.hover-scroll-bar:hover::-webkit-scrollbar-thumb {
    background-color: #607D8B;
}

::-moz-selection { background: #87cefa66; }
::selection { background: #87cefa66; }

* {
    scrollbar-color: #607D8B transparent;
    scrollbar-width: thin;
}
