<template>
    <v-app>
        <Nuxt />
    </v-app>
</template>

<style>
html {
    overflow: hidden;
}

#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
</style>
