<template>
    <main class="section">
        <div class="content d-flex flex-column">
            <img class="logo" src="~/assets/logo.svg" />
            <h1 class="slogan">Research has never been easier.</h1>
            <h2 class="description">
                Synopsis utilizes modern-day artificial intelligence and natural
                language processing to serve an unparalleled researching
                experience, providing automatic text summarization, and
                auto-annotation for the most important parts from a body of
                text.
            </h2>
            <div v-if="state.isLoggedIn">
                <v-btn x-large color="success" to="/projects"> Projects </v-btn>
            </div>
            <div v-else class="buttons">
                <v-btn x-large to="/account/signup" color="primary"
                    >Create Account</v-btn
                >
                <v-btn x-large to="/account/login">Sign In</v-btn>
            </div>
        </div>
    </main>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";

export default Vue.extend({
    layout: "landing",

    computed: {
        state() {
            return state;
        },
    },
});
</script>

<style scoped>
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 70%;
}

.logo {
    width: 560px;
}
.slogan {
    margin-top: 50px;
    font-size: 50px;
}
.description {
    margin: 10px 0px 20px 0px;
    font-weight: normal;
}
.buttons {
    margin-top: 20px;
}
a {
    font-size: 30px;
    margin-right: 8px;
}
</style>
