<template>
    <main class="grey lighten-4">
        <v-container v-if="state.currentProject">
            <h1 style="margin: 1.5rem 0">
                {{ state.currentProject.name }}
            </h1>
            <h2 class="mb-5" style="font-weight: lighter">Sources</h2>

            <h3 class="mb-3" style="font-weight: lighter">
                <em>
                    {{
                        state.projects.length > 0
                            ? "What documents, books, and other resources are you using to aid your research?"
                            : "no sources? start one off below"
                    }}
                </em>
            </h3>

            <SourceDialog />

            <v-card
                v-for="source in state.currentProject.sources"
                :key="source.id"
                class="my-5"
                elevation="2"
                @click.stop="openSource(source.id)"
            >
                <v-row class="px-3 py-1 align-center">
                    <div>
                        <v-card-title>
                            {{ source.title }}
                        </v-card-title>
                        <!-- eslint-disable vue/no-v-html -->
                        <v-card-subtitle v-html="source.citation">
                        </v-card-subtitle>
                        <v-card-text>
                            <div>
                                {{ source.annotations.length }} annotations
                            </div>
                        </v-card-text>
                    </div>
                    <v-btn
                        fab
                        small
                        elevation="2"
                        class="ml-auto mr-3"
                        color="error"
                        @click="handleDelete(source.id)"
                    >
                        <v-icon dark> mdi-delete </v-icon>
                    </v-btn>
                </v-row>
            </v-card>

            <v-btn color="primary" class="my-2" @click="handleNewSource">
                Create Source
            </v-btn>
        </v-container>
    </main>
</template>

<script lang="ts">
import Vue from "vue";
import state from "~/state";

export default Vue.extend({
    middleware: ["isLoggedIn", "setParams", "fetchalini"],

    data() {
        return {
            rules: [(value: string) => !!value || "Required."],
        };
    },

    computed: {
        state() {
            return state;
        },

        projectId() {
            return this.$route.params.projectId;
        },
    },

    beforeMount() {
        if (!state.currentProject) this.$router.push("/projects");
    },

    methods: {
        openSource(source_id: number) {
            this.$router.push(
                `/projects/${state.currentProject?.id}/sources/${source_id}`
            );
        },

        handleNewSource() {
            state.sourceDialog = true;
        },

        async handleDelete(source_id: number) {
            await this.$axios.$delete(
                `${process.env.SERVER_URL}/source/${source_id}`
            );
            const index = state.currentProject?.sources
                .map((e) => e.id)
                .indexOf(source_id);

            if (index) {
                state.currentProject?.sources.splice(index, 1);
            }
        },
    },
});
</script>

<style scoped>
.line-height-thicc {
    line-height: 32px;
}

.v-card {
    transition: all 200ms;
    filter: brightness(100%);
    cursor: pointer;
}

.v-card:hover {
    filter: brightness(0.97);
}

header >>> .v-tab {
    color: #90caf9 !important;
}

header h1,
header >>> .v-tab.v-tab--active {
    color: white !important;
}

hr {
    border: none;
    border-top: 2px solid #363636;
}

main {
    display: flex;
    flex-direction: column;
    flex: 99;
    overflow-y: auto;
    padding: 1rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
}

main .container {
    padding: 0;
}

.annotation {
    margin-bottom: 16px;
}

.annotation blockquote {
    border-left: gray 3px solid;
    padding-left: 8px;
    margin: 4px auto;
}
</style>

<style>
mark {
    background: rgb(255, 255, 110);
}

mark#activeHighlight {
    background: yellow;
}
</style>
