<template>
    <main v-if="editor" class="paper-editor">
        <div class="paper-menu-bar hover-scroll-bar">
            <paper-menu-bar :editor="editor" />
        </div>
        <editor-content v-debounce:1500ms="save"
            class="paper-editor-content"
            :editor="editor"/>
        <div class="notes-tab">
            <!-- TODO: Replace with AnnotationCard -->
            <v-tabs v-model="notesTab" class="my-2">
                <v-tab>Auto</v-tab>
                <v-tab>Search</v-tab>
            </v-tabs>
            <h1>Notes</h1>
            <p v-if="notesTab === 0">
                <em>
                    As you type, we'll suggest relevant notes from your
                    annotations here.
                </em>
            </p>
            <v-text-field
                v-if="notesTab === 1"
                v-model="searchTerm"
                solo
                class="my-2"
                label="Search your notes here..."
                append-icon="mdi-magnify"
                hide-details="auto"
            />
            <template v-if="notesTab === 0">
                <v-card
                    v-for="annotation in annotations"
                    :key="annotation.id"
                    class="annotation section-small"
                >
                    <blockquote>
                        {{ annotation.text || "Empty annotation..." }}
                    </blockquote>
                    <br />
                </v-card>
            </template>
            <template v-if="notesTab === 1">
                <v-card
                    v-for="annotation in searchAnnotations"
                    :key="annotation.id"
                    class="annotation section-small"
                >
                    <blockquote>
                        {{ annotation.text || "Empty annotation..." }}
                    </blockquote>
                    <br />
                </v-card>
            </template>
        </div>
    </main>
</template>

<script lang="ts">
import Vue from "vue";
import FuzzySearch from "fuzzy-search";
import { Editor, EditorContent } from "@tiptap/vue-2";
import StarterKit from "@tiptap/starter-kit";
import Highlight from "@tiptap/extension-highlight";
import vueDebounce from "vue-debounce";
import state from "~/state";
import PaperMenuBar from "~/components/PaperMenuBar.vue";
import { IAPIAnnotation } from "~/typings";

Vue.use(vueDebounce)

export default Vue.extend({
    components: {
        EditorContent,
        PaperMenuBar,
    },
    middleware: ["isLoggedIn", "setParams", "fetchalini"],

    data() {
        return {
            editor: null as null | Editor,
            annotations: [] as IAPIAnnotation[],
            doc: "",
            searchTerm: "",
            lastWordCount: 0,
            notesTab: "Auto",
        };
    },

    fetch() {
        this.editor = new Editor({
            extensions: [StarterKit, Highlight],
            content: (state.currentProject as any)?.paper?.text || "",
            onUpdate: ({ editor }) => {
                // @ts-ignore
                let text = editor.view.docView.dom.innerText;
                if (text.length > 200) {
                    text = text.substring(text.length - 200);
                }

                const wordSplit =
                    text.split(/\s+/)[text.split(/\s+/).length - 1];
                if (wordSplit === "") {
                    return;
                }

                console.log(this.sourceAnnotations);
                const fuzzy = new FuzzySearch(
                    this.sourceAnnotations,
                    ["text"],
                    {
                        caseSensitive: false,
                        sort: true,
                    }
                );
                const result = fuzzy.search(wordSplit);
                if (result) {
                    this.annotations = [...result.slice(0, 3)];
                } else {
                    this.annotations = [];
                }
            },
        });
    },

    computed: {
        sourceAnnotations(): IAPIAnnotation[] {
            if (!(state.currentProject as any).annotations) return [];
            return (state.currentProject as any).annotations.map((annotation: any) => ({
                ...annotation,
                text: state.getTextFromAnnotation(
                    annotation.source_id,
                    annotation.start_char,
                    annotation.end_char
                )
            }));
        },

        searchAnnotations(): IAPIAnnotation[] {
            const fuzzy = new FuzzySearch(this.sourceAnnotations, ["text"], {
                caseSensitive: false,
                sort: true,
            });
            return fuzzy.search(this.searchTerm);
        },
    },

    methods: {
        save() {
            console.log("Saving", state.currentProject);
            const main: any = state.currentProject;
            if (this.editor !== null) {
                const html = this.editor.getHTML();
                let url = "";
                if (main.paper?.id) {
                    url = `${process.env.SERVER_URL}/paper/${main.paper?.id}`;
                } else {
                    url = `${process.env.SERVER_URL}/paper`;
                }

                console.log("paerp", main);
                this.$axios.$post(url, {
                    project_id: main.id,
                    text: html
                });
            }
        },
    },

    beforeDestroy() {
        this.editor?.destroy();
    },
});
</script>

<style lang="scss">
/* Basic editor styles */
.paper-editor {
    height: calc(100vh - 64px);
    display: flex;
}
.paper-menu-bar {
    z-index: 1;
    padding: 0 28px;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.paper-editor-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    background: #f8f8f8;
    overflow-y: auto;
}
.notes-tab {
    padding: 30px;
    width: min(600px, max(35%, 450px));
    overflow-y: auto;
}
.ProseMirror {
    width: min(850px, 90%);
    background: #fff;
    box-shadow: 0px 0px 4px #00000088;
    padding: 50px;
    margin: 25px 0px 70px 0px;
}
.ProseMirror:focus {
    outline: none;
}

.ProseMirror {
    * {
        line-height: 1.25;
    }
    ul,
    ol {
        padding: 0 1rem;
        margin: 0.5rem 0;
        p {
            margin: 0;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0.5rem 0;
    }
    code {
        font-family: "Consolas", monospace !important;
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }
    pre {
        background: #272822;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin: 0.5rem 0;
    }
    pre code {
        color: inherit;
        padding: 0;
        background: none;
        font-family: "Consolas", monospace !important;
        font-size: 0.8rem;
    }
    mark {
        background-color: #faf594;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0d0d0d, 0.1);
        padding: 0 1rem;
        margin: 0.5rem 0;
    }
    hr {
        border: none;
        border-top: 2px solid rgba(#0d0d0d, 0.1);
        margin: 1.5rem 0;
    }
}

.annotation {
    margin-bottom: 16px;
}

.annotation blockquote {
    border-left: gray 3px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 8px;
    margin: 4px auto;
}
</style>
